<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Wheres Waldo</title>
  <link rel="stylesheet" href="/waldo.css">
  <script type="text/javascript" src="/script.js"></script>
</head>

<body>

<img src="waldo.jpg" alt="Where's Waldo?" id="game_display">




</body>
</html>